h1,
h2,
h3,
h4,
h5 {
  font-family: "Proza Libre", sans-serif;
}

header:first-child {
  background-color: #e60000;
  color: white;
}

#recipe-title {
  border-style: none;
  font-size: xx-large;
  text-align: center;
  margin-bottom: 2rem;
  max-width: 11rem;
}

#url-input {
  margin-top: 2rem;
}

input {
  font-size: xx-large;
  text-align: center;
}

#measurements {
  font-size: xx-large;
  text-align: center;
}
